@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 53px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: #b19dc5;
  border: 2em;
  border-radius: 2em;
}

body {
  background-color: #f1f1f1;
  transition: 1s linear;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#home {
  margin: 0;
  width: 100%;
  margin-top: 5px;
}

#about {
  width: 100%;
  background-color: #ededed;
}

#moreabout {
  background-color: #ededed;
  width: 100%;
  margin-top: 20px;
}

.container {
  width: 100%;
}

.home-button {
  --bg: #1e1e1e;
  --hover-bg: #b19dc5;
  --hover-text: #1e1e1e;
  color: #ededed;
  border: 1px solid var(--bg);
  padding: 0.8em 2em;
  font-weight: 700;
  margin: 5px;
  border-radius: 4px;
  background: var(--bg);
  transition: 0.2s;
  cursor: pointer;
}

.home-button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.home-button:active {
  transform: translate(0);
  scroll-behavior: smooth;
  box-shadow: none;
}

span {
  font-weight: bold;
}

h1,
h2,
h3 {
  font-size: 20px;
  font-weight: bold;
}

.skill-box {
  --bg: #1e1e1e;
  --hover-bg: #b19dc5;
  --hover-text: #1e1e1e;
  color: #d9d9d9;
  border: 1px solid var(--bg);
  text-align: center;
  width: 120px;
  padding: 0.8em;
  font-weight: 600;
  margin: 10px;
  border-radius: 4px;
  background: var(--bg);
  transition: 0.2s;
  cursor: default;
  width: 120px;
  height: 150px;
}

.skill-box:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.skill-box:active {
  transform: translate(0);
  box-shadow: none;
}

.ability-box {
  --bg: #1e1e1e;
  --hover-bg: #b19dc5;
  --hover-text: #1e1e1e;
  color: #d9d9d9;
  border: 1px solid var(--bg);
  text-align: center;
  width: 120px;
  padding: 0.8em;
  font-weight: 600;
  margin: 10px;
  border-radius: 4px;
  background: var(--bg);
  transition: 0.2s;
  cursor: default;
}

.ability-box:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.ability-box:active {
  transform: translate(0);
  box-shadow: none;
}

.php-img {
  margin-top: 25px;
}

.edu-box {
  --bg: #1e1e1e;
  --hover-bg: #b19dc5;
  --hover-text: #1e1e1e;
  color: #d9d9d9;
  border: 1px solid var(--bg);
  padding: 0.8em 2em;
  font-weight: 600;
  margin: 5px;
  border-radius: 4px;
  background: var(--bg);
  transition: 0.2s;
  cursor: default;
}

.edu-box:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.edu-box:active {
  transform: translate(0);
  box-shadow: none;
}

.project-box {
  --bg: #1e1e1e;
  --hover-bg: #b19dc5;
  --hover-text: #1e1e1e;
  color: #d9d9d9;
  border: 1px solid var(--bg);
  padding: 2px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  background: var(--bg);
  transition: 0.2s;
  cursor: default;
}

.project-box:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.project-box:active {
  transform: translate(0);
  box-shadow: none;
}

.visit-button {
  --bg: #d9d9d9;
  --hover-bg: #1e1e1e;
  --hover-text: #d9d9d9;
  color: #1b1f2c;
  border: 1px solid var(--bg);
  padding: 0.5em 2em;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background: var(--bg);
  transition: 0.2s;
  cursor: pointer;
  display: flex;
}

.visit-button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.visit-button:active {
  transform: translate(0);
  box-shadow: none;
}

.msg {
  width: 70%;
  top: 50%;
  left: 50%;
  padding: 50px;
  background: white;
  border-radius: 10px;
  min-width: 450px;
  position: absolute;
  min-height: 100px;
  transform: translate(-50%, -50%);
}

.send-button {
  --bg: #1e1e1e;
  --hover-bg: #b19dc5;
  --hover-text: #1e1e1e;
  color: #ededed;
  border: 1px solid var(--bg);
  padding: 0.5em 2em;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background: var(--bg);
  transition: 0.2s;
  cursor: pointer;
  display: flex;
}

.send-button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.send-button:active {
  transform: translate(0);
  box-shadow: none;
}
