@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

html{
    scroll-behavior: smooth;
    scroll-padding-top: 53px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #F1F1F1;
    transition: 1s linear;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    scrollbar-width: thin;
}
 
::-webkit-scrollbar-thumb {
    background-color: #B19DC5;
    border: 2em;
    border-radius: 2em;
}

#home{
    margin:0;
    width: 100%;
    margin-top: 5px;
}

#about{
    width: 100%;
    background-color: #EDEDED;
}

#moreabout{
    background-color: #EDEDED;
    width: 100%;
    margin-top: 20px;
}

.container{
    width: 100%;
}

.home-button{
    --bg:#D9D9D9;
    --hover-bg: #B19DC5;
    --hover-text: #1E1E1E;
    color: #1B1F2C;
    border: 1px solid var(--bg);
    padding: 0.8em 2em;
    font-weight: 700;
    margin: 5px;
    border-radius: 4px;
    background: var(--bg);
    transition: 0.2s;
    cursor: pointer;
  }

.home-button:hover{
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.home-button:active{
    transform: translate(0);
    scroll-behavior: smooth;
    box-shadow: none;
}

span{
    font-weight: bold;
}

h1, h2, h3{
    font-size: 20px;
    font-weight: bold;
}

.skill-box{
    --bg: #1E1E1E;
    --hover-bg: #B19DC5;
    --hover-text: #1E1E1E;
    color: #D9D9D9;
    border: 1px solid var(--bg);
    padding: 0.8em;
    width: 120px;
    font-weight: 600;
    margin: 5px;
    border-radius: 4px;
    background: var(--bg);
    transition: 0.2s;
    cursor: default;
  }

.skill-box:hover{
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.skill-box:active{
    transform: translate(0);
    box-shadow: none;
}

.edu-box{
    --bg: #1E1E1E;
    --hover-bg: #B19DC5;
    --hover-text: #1E1E1E;
    color: #D9D9D9;
    border: 1px solid var(--bg);
    padding: 0.8em 2em;
    font-weight: 600;
    margin: 5px;
    border-radius: 4px;
    background: var(--bg);
    transition: 0.2s;
    cursor: default;
}

.edu-box:hover{
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.edu-box:active{
    transform: translate(0);
    box-shadow: none;
}

.project-box{
    --bg: #1E1E1E;
    --hover-bg: #B19DC5;
    --hover-text: #1E1E1E;
    color: #D9D9D9;
    border: 1px solid var(--bg);
    padding: 2px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background: var(--bg);
    transition: 0.2s;
    cursor: default;
}

.project-box:hover{
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.project-box:active{
    transform: translate(0);
    box-shadow: none;
}

.visit-button{
    --bg:#D9D9D9;
    --hover-bg: #1E1E1E;
    --hover-text: #D9D9D9;
    color: #1B1F2C;
    border: 1px solid var(--bg);
    padding: 0.5em 2em;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 4px;
    background: var(--bg);
    transition: 0.2s;
    cursor: pointer;
    display: flex;
  }

.visit-button:hover{
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.visit-button:active{
    transform: translate(0);
    box-shadow: none;
}

.msg{
    width: 70%;
    top: 50%;
    left: 50%;
    padding: 50px;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
} 

.send-button{
    --bg:#D9D9D9;
    --hover-bg: #B19DC5;
    --hover-text: #1E1E1E;
    color: #1B1F2C;
    border: 1px solid var(--bg);
    padding: 0.5em 2em;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 4px;
    background: var(--bg);
    transition: 0.2s;
    cursor: pointer;
    display: flex;
  }

.send-button:hover{
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.send-button:active{
    transform: translate(0);
    box-shadow: none;
}
